<div class="table-responsive-lg">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Flag</th>
                <th scope="col">Continent</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countryItemList" (click)="navigateToCountryDetail(country)">
                <td scope="col">{{country.name}}</td>
                <td scope="col">{{country.code}}</td>
                <td scope="col">
                    <img class="country-flag" [src]="'/assets/images/country-flags/'+country.code.toLowerCase()+'.png'"/>
                </td>
                <th scope="col">{{country.continent?.name}}</th>
            </tr>
        </tbody>
    </table>
</div>