<div class="table-responsive-lg">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Flag</th>
                <th scope="col">Continent</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countryItemList" (click)="navigateToCountryDetail(country)">
                <th scope="col">{{country.name}}</th>
                <th scope="col">{{country.code}}</th>
                <th scope="col"></th>
                <th scope="col">{{country.continent?.name}}</th>
            </tr>
        </tbody>
    </table>
</div>